<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Student Hero Register</title>

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- BOOTSTRAP CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- BOOTSTRAP THEME -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
	<!-- Custome style -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
	<img id="img-bg" src="img/img-bg.jpg" alt="">
	<div class="container">
		<div class="row" id="content-card">
			<div class="row">
				<div class="col-sm-12">
					<h1>Đăng ký để trở thành Student Hero</h1>
					<h5>Các thông tin cá nhân của bạn sẽ được Student Life Care bảo mật</h5>
					<div class="col-sm-12 loginLink">
						<a href="./login" title="loginLink">Đã có tài khoản? Đăng nhập tại đây</a>
					</div>
				</div>
				
			</div>
			<div class="row">
				<p>* Required</p>
			</div>

			<form id="mainForm">
			
				<div class="foreign-content"></div>

				<div class="local-content"></div>
				
				<input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>
				<output id="list"></output>

				<a type="submit" class="waves-effect waves-light btn btn-large">SUBMIT</a>

			</form>
		</div>		
	</div>


	<script id="input-template" type="text/x-handlebars-template">
		{{#each foreign}}
			<div class="row each-select">
				<h2>{{header}}</h2><span>*</span>
				<h3>{{description}}</h3>
				{{#if option}}
				<div>
					<select id = "{{id}}">
						{{#each option}}
						<option {{opt-type}}>{{opt}}</option>
						{{/each}}
					</select>
				</div>
				<div class="messageContainer"><p>Please fill in this field</p></div>
					
				{{else}}
					{{#if labels}}
					<div id="{{id}}">
						{{#each labels}}
							<div class="jobChoice">
								<input class="with-gap" name="{{input-name}}" type="{{input-type}}" placeholder="{{input-placeholder}}" id="{{idInput}}">
								<label for="{{idInput}}">{{label}}</label>
							</div>
						{{/each}}
						<div class="messageContainer"><p>Please fill in this field</p></div>
					</div>
						
					{{else}}
						<input id = "{{id}}" name="{{input-name}}" type={{input-type}} placeholder="{{input-placeholder}}">
						<div class="messageContainer"><p>Please fill in this field</p></div>
					{{/if}}
				{{/if}}
			</div>
		{{/each}}
	</script>

	<script id="address-template" type="text/x-handlebars-template">
		
		{{#each local}}
			<div class="row each-select">
				<h2>{{header}}</h2><span>*</span>
				<h3>{{description}}</h3>
				{{#if option}}
					<select id = "{{id}}">
						{{#each option}}
						<option {{opt-type}}>{{opt}}</option>
						{{/each}}
					</select>
					<div class="messageContainer"><p>Please fill in this field</p></div>
				{{else}}
					{{#if labels}}
					<div id="{{id}}">
						{{#each labels}}
							<div class="checkbox-edit">
								<input class="filled-in" name="{{input-name}}" type="{{input-type}}" placeholder="{{input-placeholder}}" id="{{idInput}}">
								<label for="{{idInput}}">{{label}}</label>
							</div>
						{{/each}}
						<div class="messageContainer"><p>Please fill in this field</p></div>
					</div>
					{{else}}
						<input id = "{{id}}" name="{{input-name}}" type={{input-type}} placeholder="{{input-placeholder}}">
						<div class="messageContainer"><p>Please fill in this field</p></div>
					{{/if}}
				{{/if}}
			</div>	
		{{/each}}
	</script>

	<!-- JQUERY JAVASCRIPT -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- BOOTSTRAP JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	<script src="js/script.js" type="text/javascript" charset="utf-8" async defer></script>
	<script src="js/validate.js" type="text/javascript" charset="utf-8" async defer></script>
	<script src="js/sendData.js" type="text/javascript" charset="utf-8" async defer></script>

</body>
</html>