<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style type="text/css" media="screen">
#background {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  height: auto;
  width: 100%;
  z-index: -10;
  background: #8475be;
  background: -moz-linear-gradient(top, #8475be 1%, #a261a9 53%, #c84d91 96%);
  background: -webkit-linear-gradient(top, #8475be 1%, #a261a9 53%, #c84d91 96%);
  background: linear-gradient(to bottom, #8475be 1%, #a261a9 53%, #c84d91 96%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8475be', endColorstr='#c84d91',GradientType=0 ); }

#card {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: transparent;
  border: 2px solid #fff;
  padding: 20px 60px; }
  #card h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #fff; }
  #card p {
    font-size: 2em;
    color: #fff;
    text-align: center;
    font-weight: bold; }
  #card #dateChoice {
    margin-bottom: 20px; }

    </style>
</head>

<body>
		
	 <div id="background">
		<div id="card">
			<h2>Ca phỏng vấn bạn đã chọn</h2>
			<div id="timeChoice">
				<p>{{scheTime}}</p>
			</div>
			<div id="dateChoice">
				<p>{{scheDate}}</p>
			</div>
		</div>
	</div>
</body>
</html>