<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<style type="text/css" media="screen">
		h1{
			font-weight: bold;
			font-size: 20px;
		}
		span{
			color: blue;
		}
		span.hightlight{
			color: red;
			font-weight: bold;
		}
	</style>
</head>
<body>
	
	<h1>Dear {{fullName}},</h1>
	<p>Cảm ơn bạn đã đăng ký trở thành <span>Student Hero</span> của <span>Student Life Care</span></p>
	<p>Để có thể chính thức trở thành một Student Hero của chúng tôi, bạn cần vượt qua thêm một bài phỏng vấn nữa. Link đăng ký xếp lịch phỏng vấn ở phía dưới</p>
	<p>Trong trường hợp bạn không vào được link trên, bạn cần login vào hệ thống</p>
	
	<a href="https://studenthero-register.herokuapp.com/login" title="login">Đăng Nhập</a>
	<a href="https://studenthero-register.herokuapp.com/schedule" title="schedule">Đăng ký xếp lịch phỏng vấn</a>
</body>
</html>