//colors
$color_roman_approx: #ea5c54;
$color_lavender_approx: #bb6dec;
$color_tuna_approx: #35394a;
$color_shark_approx: #1f222e;
$color_bombay_approx: #afb1be;
$white: #fff;
$color_bright_gray_approx: #393d52;
$color_cranberry_approx: #dc6180;

//fonts
$font_0: Roboto;
$font_1: RobotoDraft;
$font_2: Helvetica;
$font_3: Arial;
$font_4: sans-serif;

//@extend-elements
//original selectors
//.input-field-user, .input-field-pass
%extend_1 {
	left: 50%;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translate(-50%, -50%);
	position: absolute;
	width: 100%;
	min-height: 10%;
}


body {
	font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
}
.container-fluid {
	min-height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: $color_roman_approx;
	background: linear-gradient(135deg, $color_roman_approx 0,$color_lavender_approx 100%);
	filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_roman_approx ', endcolorstr='$color_lavender_approx',gradienttype=1 );
}
.card {
	position: absolute;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	min-height: 50%;
	min-width: 25%;
	background: $color_tuna_approx;
	background: linear-gradient(45deg, $color_tuna_approx 0,$color_shark_approx 100%);
	filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_tuna_approx', endcolorstr='$color_shark_approx',gradienttype=1 );
}
h1 {
	color: $color_bombay_approx;
	font-size: 2em;
	position: absolute;
	top: 20%;
	left: 50%;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translate(-50%, -50%);
}
.input-field-user {
	@extend %extend_1;
	top: 50%;
}
.input-field-pass {
	@extend %extend_1;
	top: 60%;
}
.icon {
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translate(-50%, -50%);
	position: absolute;
	left: 15%;
	top: 50%;
	z-index: 1;
	color: $white;
	opacity: 0.5;
}
.checkpoint {
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translate(-50%, -50%);
	position: absolute;
	right: 2%;
	top: 50%;
	z-index: 1;
	color: $white;
	opacity: 0;
}
input {
	left: 50%;
	top: 50%;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translate(-50%, -50%);
	position: absolute;
	border: none;
	width: 100%;
	height: 100%;
	font-size: 2rem;
	padding-left: 5em;
	padding-right: 4em;
	background: $color_tuna_approx;
	color: $color_bombay_approx;
	border-top: 2px solid $color_bright_gray_approx;
	border-bottom: 2px solid $color_bright_gray_approx;
}
button {
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translate(-50%, -50%);
	position: absolute;
	left: 30%;
	top: 80%;
	min-width: 30%;
	min-height: 10%;
	border: 2px solid $color_cranberry_approx;
	color: $color_cranberry_approx;
	font-size: 1em;
	text-transform: uppercase;
	background: transparent;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 50px;
	cursor: pointer;
	//Instead of the line below you could use @include transition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
	transition-property: background,color;
	&:hover {
		color: $white;
		background: $color_cranberry_approx;
		//Instead of the line below you could use @include transition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
		transition-property: background,color;
		//Instead of the line below you could use @include transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
		transition-duration: .2s;
	}
}
a {
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translate(-50%, -50%);
	position: absolute;
	right: 2%;
	top: 80%;
	color: $color_cranberry_approx;
	cursor: pointer;
	text-decoration: underline;
}