$red: #fc7169;
$dark-purple: #673ab7;
$pink: #e91e63;
$teal: #26a69a;
$dark-orange: #ff5722;
$green: #259b24;
$blue: #448AFF;
$yellow: #ffc107;
$orange: #ff6e40;
$blue-gray: #607D8B;
$cyan:  #26c6da;

$dark-text: #212121;
$standard-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);

//=========Mixin Responsive==========================
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
//====================================================



body{
	font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

#background{
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	height: auto;
	width: 100%;
	z-index: -10;
    background: #8475be;
	background: -moz-linear-gradient(top,  #8475be 1%, #a261a9 53%, #c84d91 96%);
	background: -webkit-linear-gradient(top,  #8475be 1%,#a261a9 53%,#c84d91 96%);
	background: linear-gradient(to bottom,  #8475be 1%,#a261a9 53%,#c84d91 96%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8475be', endColorstr='#c84d91',GradientType=0 );
}

#header-title{
	text-align: center;
	font-size: 40px;
	color: #fff;
	margin: 7rem auto;
	font-weight: bold;
	@include tablet {
		font-size: 44px;
	}
	@include desktop {
		font-size: 48px;
	}
}

//====================================================
table{
	width: 100%;
	border: 1px solid #fff;
}
th, td{
	text-align: center;
	color: #fff;
}

td.date, td.time{
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: bold;
}
td{
	height: 15rem;
	width: 20rem;
	font-size: 2rem;
	&.selected{
		background: rgba(255,255,0,0.3);
	}
}
td:not(.date):not(.time):not(.empty):not(.noneSlot){
	cursor: pointer;
	opacity: 1;
	&:not(.selected):not(.time):not(.empty):hover{
		background: rgba(255,0,0,0.1);
	}
}

td.noneSlot{
	background: rgba(0,0,0,0.3);
}

button{
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	position: absolute;
	border: 1px solid #fff;
	padding: 1em 2em;
	background: rgba(255,255,0,0);
	color: #fff;
	transition: .2s ease-out;
	font-size: 2rem;
	text-transform: uppercase;
	&:hover{
		background-color: $teal;
	}
}

.submit{
	height: 20em;
}

#card{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	background: transparent;
	border: 2px solid #fff;
	padding: 20px 60px;
	h2{
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
		color: #fff;
	};
	p{
		font-size: 2em;
		color: #fff;
		text-align: center;
		font-weight: bold;
	};
	#dateChoice{
		margin-bottom: 20px;
	}
}