//colors
$color_purple_mountains_majesty_approx: #8475be;
$color_wisteria_approx: #a261a9;
$color_mulberry_approx: #c84d91;
$white: #fff;
$red_10: rgba(255, 0, 0, 0.1);

//fonts
$font_0: Roboto;
$font_1: RobotoDraft;
$font_2: Helvetica;
$font_3: Arial;
$font_4: sans-serif;

body {
	font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
}
#background {
	position: absolute;
	top: 0;
	left: 0;
	height: auto;
	width: 100%;
	min-height: 100%;
	z-index: -10;
	background: $color_purple_mountains_majesty_approx;
	background: linear-gradient(to bottom, $color_purple_mountains_majesty_approx 1%, $color_wisteria_approx 53%, $color_mulberry_approx 96%);
	filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_purple_mountains_majesty_approx', endcolorstr='$color_mulberry_approx',gradienttype=0 );
}
#header-title {
	text-align: center;
	font-size: 40px;
	color: $white;
	margin: 7rem auto;
	font-weight: bold;
}
@media(min-width: 768px) and(max-width: 1023px) {
	#header-title {
		font-size: 44px;
	}
}
@media(min-width: 1024px) {
	#header-title {
		font-size: 48px;
	}
}

.search-bar{
	margin-bottom: 3em;
	.col-sm-12{
		min-height: 3em;
		input{
			position: absolute;
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;
			width: 50%;
			height: 110%;
			padding: 1rem 3rem;
			background: transparent;
			box-shadow: none;
			border: 2px solid $white;
			color: $white;
			font-size: 2rem;
		}
	}
}

.sort, .filter{
	margin-bottom: 3em;
	div.sort-section, div.filter-section{
		min-height: 3em;
		.selectdiv:after{
			content: '\f078';
		    font: normal normal normal 17px/1 FontAwesome;
		    color: $white;
		    right: 10%;
		    top: 50%;
		    transform: translate(-50%, -50%);
		    border-left: 1px solid $white;
		    padding: 5px 0px 5px 5px;
		    position: absolute;
		    pointer-events: none;
		}
		select, button{
			cursor: pointer;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			position: absolute;
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;
			height: 110%;
			width: 80%;
			background: transparent;
			border: 2px solid $white;
			padding: 0.5rem 0.5rem;
			color: $white;
			font-weight: normal;
			option{
				color: #000;
			}
		}
		button{
			font-weight: bold;
		}
	}
}

table {
	width: 100%;
	border: 1px solid $white;
	margin-bottom: 10em;
}
td {
	color: $white;
	border: 1px solid $white;
	min-height: 5rem;
	width: 20rem;
	font-size: 2rem;
	position: relative;
	&.order {
		width: 1em;
		p {
			text-align: center;
		}
	}
	p {
		margin: 25px auto 25px 25px;
	}
	button {
		position: absolute;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate(-50%, -50%);
		left: 80%;
		top: 50%;
		padding: 1rem 2rem;
		background-color: rgba(0,0,0,0);
		border: 1px solid $white;
	}
}
img {
	width: auto;
	height: 150px;
}
button:hover {
	background: $red_10;
}