$body-bg-color: rgb(253, 206, 200);
$content-card-bg-color: #fff;
$red: #ff5353;
$standard-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);

//=========Mixin Responsive==========================
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
//====================================================

body{
	background-color: $body-bg-color;
	font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	margin-bottom: 20em;
}

#img-bg{
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	position: relative;
	z-index: -1;
}

#content-card{
	margin: -50px auto;
	background-color: $content-card-bg-color;
	padding: 50px 50px;
	border-radius: 2px;
	box-shadow: $standard-box-shadow;
	border-top: solid 10px rgb(247, 93, 71);
	@include tablet {
		margin: -80px auto;
		padding: 70px 70px;
	}
	@include desktop {
		margin: -100px auto;
		padding: 80px 80px;
	}
}

h1{
	text-align: center;
	font-size: 30px;
	padding-bottom: 20px;
	@include tablet {
		font-size: 37px;
	}
	@include desktop {
		font-size: 45px;
	}
}

h5{
	text-align: center;
	font-size: 20px;
	@include tablet {
		font-size: 25px;
	}
	@include desktop {
		font-size: 30px;
	}
}

.loginLink{
	min-height: 30px;
	margin: 10px 0;
}

a[title="loginLink"]{
	text-align: center;
	margin: 0;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	font-size: 12px;
	@include tablet {
		font-size: 15px;
	}
	@include desktop {
		font-size: 20px;
	}
}

#content-card p{
	font-size: 20px;
	color: $red;
	@include tablet {
		font-size: 24px;
	}
	@include desktop {
		font-size: 27px;
	}
}

h2{
	font-size: 20px;
	margin-bottom: 0;
	display: inline-block;
	@include tablet {
		font-size: 25px;
	}
	@include desktop {
		font-size: 27px;
	}
}

h3,{
	font-size: 11px;
	margin-top: 10px;
	margin-bottom: 10px;
	@include tablet {
		font-size: 13px;
	}
	@include desktop {
		font-size: 15px;
	}
}

.foreign-content input,
.local-content input{
	border: none;
	border-bottom: 1px solid #9e9e9e;
	height: 3.5rem;
	width: 100%;
	font-size: 2rem;
	transition: all 0.3s;
	outline: none;
	padding: 5px 0;
	&:focus:not([readonly]){
		border-bottom: 1px solid #26a69a;
		box-shadow: 0 1px 0 0 #26a69a;
	}
	@include tablet {
		width: 50%;
	}
	@include desktop {
		width: 50%;
	}
}

.each-select{
	margin: 50px auto;
	&:first-child{
		margin: 5px auto;
	}
}

.each-select span{
	color: $red;
	margin-left: 5px;
	font-size: 1.75rem;
}

.each-select .caret{
	border-top: none;
	border-right: 10px solid transparent;
}

.each-select .select-wrapper input.select-dropdown{
	width: 50%;
	font-size: 1.5rem;
}

.each-select .select-wrapper span.caret{
	right: 50%;
}

.each-select .dropdown-content li > a, .dropdown-content li > span{
	font-size: 1.5rem;
}

#studyYear, #contactMethod{
	margin-top: 20px;
}

.jobChoice label,
.checkbox-edit label{
	height: 50px !important;
	line-height: 50px !important;
	&:after, &:before{
		top: 25% !important;
	}
}

.jobChoice [type="radio"]:not(:checked) + label, [type="radio"]:checked + label,
.checkbox-edit [type="checkbox"] + label{
	font-size: 1.5rem;
	font-weight: normal;
	color: #333;
}

input.otherChoice{
	margin-left: 20px;
	margin-bottom: 0;
	height: 1.5rem;
	font-size: 1.25rem;
}

#content-card .each-select .messageContainer p{
	color: $red;
	font-size: 1rem;
	margin: 10px 0;
	font-size: 10px;
	display: none;
	@include tablet {
		font-size: 14px;
	}
	@include desktop {
		font-size: 17px;
	}
}

img{
	width: 100%;
	height: auto;
}

a, img#imgID, img#imgCar{
	margin-top: 5em;
}

.thumb {
    height: 125px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
    width: auto;
}